// Copyright 2024-2026, AgentMux Corp.
// SPDX-License-Identifier: Apache-2.0

.userinput-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 1rem 1rem 1rem;
    max-width: 500px;

    font: var(--fixed-font);
    color: var(--main-text-color);

    .userinput-markdown {
        color: inherit;
    }

    .userinput-text {
    }

    .userinput-inputbox {
        resize: none;
        background-color: var(--panel-bg-color);
        border-radius: 6px;
        margin: 0;
        border: var(--border-color);
        padding: 5px 0 5px 16px;
        min-height: 30px;
        color: inherit;

        &:hover {
            cursor: text;
        }

        &:focus {
            outline-color: var(--accent-color);
        }
    }

    .userinput-checkbox-container {
        display: flex;
        flex-direction: column;
        gap: var(--space-1-5);

        .userinput-checkbox-row {
            display: flex;
            align-items: center;
            gap: var(--space-1-5);

            .userinput-checkbox {
                accent-color: var(--accent-color);
            }
        }
    }
}
