// Copyright 2025-2026, AgentMux Corp.
// SPDX-License-Identifier: Apache-2.0

.system-status {
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 6px;

    .config-error-button {
        color: black;
        padding: 0 6px;
        flex: 0 0 fit-content;
    }
}

.config-error-message {
    max-width: 500px;
    margin-bottom: 20px;

    h3 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
    }
}
